In [67]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
import statistics

data = pd.read_csv(r"C:\Users\jazoi\Downloads\ccdefault.csv")
data.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,DEFAULT
0,1,20000,2,2,1,24,2,2,-1,-1,-2,-2,3913,3102,689,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,0,2,2682,1725,2682,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,0,0,29239,14027,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,0,0,46990,48233,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,0,0,8617,5670,35835,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [3]:
#Prints total nunmber of rows and columns in the dataset
#Confirmed correct by manual check of the dataset .csv file
#Recycled from my personal HW3 assignment
#Prints total nunmber of rows and columns in the dataset
#Confirmed correct by manual check of the dataset .csv file
#Reused from my personal HW3 assignment

total_rows=len(data.axes[0])
total_cols=len(data.axes[1])
print("Number of Rows: "+ str(total_rows))
print("Number of Columns: "+ str(total_cols))
print()
data.shape

Number of Rows: 30000
Number of Columns: 25

(30000, 25)

In [6]:
data.info()
#No data needs to be dropped!

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30000 entries, 0 to 29999
Data columns (total 25 columns):
ID           30000 non-null int64
LIMIT_BAL    30000 non-null int64
SEX          30000 non-null int64
EDUCATION    30000 non-null int64
MARRIAGE     30000 non-null int64
AGE          30000 non-null int64
PAY_0        30000 non-null int64
PAY_2        30000 non-null int64
PAY_3        30000 non-null int64
PAY_4        30000 non-null int64
PAY_5        30000 non-null int64
PAY_6        30000 non-null int64
BILL_AMT1    30000 non-null int64
BILL_AMT2    30000 non-null int64
BILL_AMT3    30000 non-null int64
BILL_AMT4    30000 non-null int64
BILL_AMT5    30000 non-null int64
BILL_AMT6    30000 non-null int64
PAY_AMT1     30000 non-null int64
PAY_AMT2     30000 non-null int64
PAY_AMT3     30000 non-null int64
PAY_AMT4     30000 non-null int64
PAY_AMT5     30000 non-null int64
PAY_AMT6     30000 non-null int64
DEFAULT      30000 non-null int64
dtypes: int64(25)
memory usage: 6.0 MB

In [9]:
#Used to show all rows instead of showing the same found in data.head()
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
data.describe()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,DEFAULT
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.000000,30000.000000,30000.000000,30000.000000,3.000000e+04,30000.00000,30000.000000,30000.000000,30000.000000,30000.000000
mean,15000.500000,167484.322667,1.603733,1.853133,1.551867,35.485500,-0.016700,-0.133767,-0.166200,-0.220667,-0.266200,-0.291100,51223.330900,49179.075167,4.701315e+04,43262.948967,40311.400967,38871.760400,5663.580500,5.921163e+03,5225.68150,4826.076867,4799.387633,5215.502567,0.221200
std,8660.398374,129747.661567,0.489129,0.790349,0.521970,9.217904,1.123802,1.197186,1.196868,1.169139,1.133187,1.149988,73635.860576,71173.768783,6.934939e+04,64332.856134,60797.155770,59554.107537,16563.280354,2.304087e+04,17606.96147,15666.159744,15278.305679,17777.465775,0.415062
min,1.000000,10000.000000,1.000000,0.000000,0.000000,21.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-165580.000000,-69777.000000,-1.572640e+05,-170000.000000,-81334.000000,-339603.000000,0.000000,0.000000e+00,0.00000,0.000000,0.000000,0.000000,0.000000
25%,7500.750000,50000.000000,1.000000,1.000000,1.000000,28.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,3558.750000,2984.750000,2.666250e+03,2326.750000,1763.000000,1256.000000,1000.000000,8.330000e+02,390.00000,296.000000,252.500000,117.750000,0.000000
50%,15000.500000,140000.000000,2.000000,2.000000,2.000000,34.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,22381.500000,21200.000000,2.008850e+04,19052.000000,18104.500000,17071.000000,2100.000000,2.009000e+03,1800.00000,1500.000000,1500.000000,1500.000000,0.000000
75%,22500.250000,240000.000000,2.000000,2.000000,2.000000,41.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,67091.000000,64006.250000,6.016475e+04,54506.000000,50190.500000,49198.250000,5006.000000,5.000000e+03,4505.00000,4013.250000,4031.500000,4000.000000,0.000000
max,30000.000000,1000000.000000,2.000000,6.000000,3.000000,79.000000,8.000000,8.000000,8.000000,8.000000,8.000000,8.000000,964511.000000,983931.000000,1.664089e+06,891586.000000,927171.000000,961664.000000,873552.000000,1.684259e+06,896040.00000,621000.000000,426529.000000,528666.000000,1.000000

In [82]:
# PART ONE: Random Test-Train Split

y = data.iloc[:,24]
X = data.iloc[:, 1:-1]

dt = DecisionTreeClassifier()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 1)
dt.fit(X_train, y_train)
    
y_pred_test = dt.predict(X_test)
y_pred_train = dt.predict(X_train)

InSample1 = accuracy_score(y_train, y_pred_train)
OutSample1 = accuracy_score(y_test, y_pred_test)

print("Random State 1 Results")
print("-----------------------------------------------------")
print("The in-sample accuracy score is " + str(InSample1))
print("The out-of-sample accuracy score is " + str(OutSample1))

Random State 1 Results
-----------------------------------------------------
The in-sample accuracy score is 0.9993333333333333
The out-of-sample accuracy score is 0.7273333333333334

In [47]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 2)
dt.fit(X_train, y_train)
    
y_pred_test = dt.predict(X_test)
y_pred_train = dt.predict(X_train)

InSample2 = accuracy_score(y_train, y_pred_train)
OutSample2 = accuracy_score(y_test, y_pred_test)

print("Random State 2 Results")
print("-----------------------------------------------------")
print("The in-sample accuracy score is " + str(InSample2))
print("The out-of-sample accuracy score is " + str(OutSample2))

Random State 2 Results
-----------------------------------------------------
The in-sample accuracy score is 0.9993703703703704
The out-of-sample accuracy score is 0.738

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 3)
dt.fit(X_train, y_train)
    
y_pred_test = dt.predict(X_test)
y_pred_train = dt.predict(X_train)

InSample3 = accuracy_score(y_train, y_pred_train)
OutSample3 = accuracy_score(y_test, y_pred_test)

print("Random State 3 Results")
print("-----------------------------------------------------")
print("The in-sample accuracy score is " + str(InSample3))
print("The out-of-sample accuracy score is " + str(OutSample3))

Random State 3 Results
-----------------------------------------------------
The in-sample accuracy score is 0.9993703703703704
The out-of-sample accuracy score is 0.72

In [49]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 4)
dt.fit(X_train, y_train)
    
y_pred_test = dt.predict(X_test)
y_pred_train = dt.predict(X_train)

InSample4 = accuracy_score(y_train, y_pred_train)
OutSample4 = accuracy_score(y_test, y_pred_test)

print("Random State 4 Results")
print("-----------------------------------------------------")
print("The in-sample accuracy score is " + str(InSample4))
print("The out-of-sample accuracy score is " + str(OutSample4))

Random State 4 Results
-----------------------------------------------------
The in-sample accuracy score is 0.9992962962962963
The out-of-sample accuracy score is 0.711

In [50]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 5)
dt.fit(X_train, y_train)
    
y_pred_test = dt.predict(X_test)
y_pred_train = dt.predict(X_train)

InSample5 = accuracy_score(y_train, y_pred_train)
OutSample5 = accuracy_score(y_test, y_pred_test)

print("Random State 5 Results")
print("-----------------------------------------------------")
print("The in-sample accuracy score is " + str(InSample5))
print("The out-of-sample accuracy score is " + str(OutSample5))

Random State 5 Results
-----------------------------------------------------
The in-sample accuracy score is 0.9993703703703704
The out-of-sample accuracy score is 0.7326666666666667

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 6)
dt.fit(X_train, y_train)
    
y_pred_test = dt.predict(X_test)
y_pred_train = dt.predict(X_train)

InSample6 = accuracy_score(y_train, y_pred_train)
OutSample6 = accuracy_score(y_test, y_pred_test)

print("Random State 6 Results")
print("-----------------------------------------------------")
print("The in-sample accuracy score is " + str(InSample6))
print("The out-of-sample accuracy score is " + str(OutSample6))

Random State 6 Results
-----------------------------------------------------
The in-sample accuracy score is 0.9994074074074074
The out-of-sample accuracy score is 0.7136666666666667

In [52]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 7)
dt.fit(X_train, y_train)
    
y_pred_test = dt.predict(X_test)
y_pred_train = dt.predict(X_train)

InSample7 = accuracy_score(y_train, y_pred_train)
OutSample7 = accuracy_score(y_test, y_pred_test)

print("Random State 7 Results")
print("-----------------------------------------------------")
print("The in-sample accuracy score is " + str(InSample7))
print("The out-of-sample accuracy score is " + str(OutSample7))

Random State 7 Results
-----------------------------------------------------
The in-sample accuracy score is 0.9993333333333333
The out-of-sample accuracy score is 0.722

In [53]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 8)
dt.fit(X_train, y_train)
    
y_pred_test = dt.predict(X_test)
y_pred_train = dt.predict(X_train)

InSample8 = accuracy_score(y_train, y_pred_train)
OutSample8 = accuracy_score(y_test, y_pred_test)

print("Random State 8 Results")
print("-----------------------------------------------------")
print("The in-sample accuracy score is " + str(InSample8))
print("The out-of-sample accuracy score is " + str(OutSample8))

Random State 8 Results
-----------------------------------------------------
The in-sample accuracy score is 0.9992592592592593
The out-of-sample accuracy score is 0.7133333333333334

In [54]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 9)
dt.fit(X_train, y_train)
    
y_pred_test = dt.predict(X_test)
y_pred_train = dt.predict(X_train)

InSample9 = accuracy_score(y_train, y_pred_train)
OutSample9 = accuracy_score(y_test, y_pred_test)

print("Random State 9 Results")
print("-----------------------------------------------------")
print("The in-sample accuracy score is " + str(InSample9))
print("The out-of-sample accuracy score is " + str(OutSample9))

Random State 9 Results
-----------------------------------------------------
The in-sample accuracy score is 0.9995185185185185
The out-of-sample accuracy score is 0.7263333333333334

In [55]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 10)
dt.fit(X_train, y_train)
    
y_pred_test = dt.predict(X_test)
y_pred_train = dt.predict(X_train)

InSample10 = accuracy_score(y_train, y_pred_train)
OutSample10 = accuracy_score(y_test, y_pred_test)

print("Random State 10 Results")
print("-----------------------------------------------------")
print("The in-sample accuracy score is " + str(InSample10))
print("The out-of-sample accuracy score is " + str(OutSample10))

Random State 10 Results
-----------------------------------------------------
The in-sample accuracy score is 0.9994814814814815
The out-of-sample accuracy score is 0.7316666666666667

In [74]:
MEAN_IN_SAMPLE = [InSample1 , InSample2 , InSample3 , InSample4 , InSample5 , InSample6 , InSample7 
                 , InSample8 , InSample9 , InSample10]

SD_IN_SAMPLE = [InSample1 , InSample2 , InSample3 , InSample4 , InSample5 , InSample6 , InSample7 
                 , InSample8 , InSample9 , InSample10]

MEAN_OUT_SAMPLE = [OutSample1 , OutSample2 , OutSample3 , OutSample4 , OutSample5 , OutSample6 , OutSample7 
                 , OutSample8 , OutSample9 , OutSample10]

SD_OUT_SAMPLE = [OutSample1 , OutSample2 , OutSample3 , OutSample4 , OutSample5 , OutSample6 , OutSample7 
                 , OutSample8 , OutSample9 , OutSample10]

print("The in-sample accuracy score average is " + str(statistics.mean(MEAN_IN_SAMPLE)))
print("The in-sample accuracy score standard deviation is " + str(statistics.stdev(SD_IN_SAMPLE)))
print()
print("The out-of-sample accuracy score average is " + str(statistics.mean(MEAN_OUT_SAMPLE)))
print("The out-of-sample accuracy score standard deviation is " + str(statistics.stdev(SD_OUT_SAMPLE)))

The in-sample accuracy score average is 0.9993740740740741
The in-sample accuracy score standard deviation is 7.895445410033435e-05

The out-of-sample accuracy score average is 0.7231333333333333
The out-of-sample accuracy score standard deviation is 0.009062471796465273

In [77]:
#Installation of Pretty Table to set up table of results
pip install PrettyTable

Collecting PrettyTable
  Downloading https://files.pythonhosted.org/packages/ef/30/4b0746848746ed5941f052479e7c23d2b56d174b82f4fd34a25e389831f5/prettytable-0.7.2.tar.bz2
Building wheels for collected packages: PrettyTable
  Building wheel for PrettyTable (setup.py): started
  Building wheel for PrettyTable (setup.py): finished with status 'done'
  Stored in directory: C:\Users\jazoi\AppData\Local\pip\Cache\wheels\80\34\1c\3967380d9676d162cb59513bd9dc862d0584e045a162095606
Successfully built PrettyTable
Installing collected packages: PrettyTable
Successfully installed PrettyTable-0.7.2
Note: you may need to restart the kernel to use updated packages.

In [83]:
#Assistance from http://zetcode.com/python/prettytable/

from prettytable import PrettyTable
    
x = PrettyTable()
x.field_names = ["Random State", "In-Sample", "Out-of-Sample"]
x.add_row(["1", str(InSample1), str(OutSample1)])
x.add_row(["2", str(InSample2), str(OutSample2)])
x.add_row(["3", str(InSample3), str(OutSample3)])
x.add_row(["4", str(InSample4), str(OutSample4)])
x.add_row(["5", str(InSample5), str(OutSample5)])
x.add_row(["6", str(InSample6), str(OutSample6)])
x.add_row(["7", str(InSample7), str(OutSample7)])
x.add_row(["8", str(InSample8), str(OutSample8)])
x.add_row(["9", str(InSample9), str(OutSample9)])
x.add_row(["10", str(InSample10), str(OutSample10)])
x.add_row(["Mean", str(statistics.mean(MEAN_IN_SAMPLE)), str(statistics.mean(MEAN_OUT_SAMPLE))])
x.add_row(["St.Dev", str(statistics.stdev(SD_IN_SAMPLE)), str(statistics.stdev(SD_OUT_SAMPLE))])

print(x)

+--------------+-----------------------+----------------------+
| Random State |       In-Sample       |    Out-of-Sample     |
+--------------+-----------------------+----------------------+
|      1       |   0.9993333333333333  |  0.7273333333333334  |
|      2       |   0.9993703703703704  |        0.738         |
|      3       |   0.9993703703703704  |         0.72         |
|      4       |   0.9992962962962963  |        0.711         |
|      5       |   0.9993703703703704  |  0.7326666666666667  |
|      6       |   0.9994074074074074  |  0.7136666666666667  |
|      7       |   0.9993333333333333  |        0.722         |
|      8       |   0.9992592592592593  |  0.7133333333333334  |
|      9       |   0.9995185185185185  |  0.7263333333333334  |
|      10      |   0.9994814814814815  |  0.7316666666666667  |
|     Mean     |   0.9993740740740741  |  0.7231333333333333  |
|    St.Dev    | 7.895445410033435e-05 | 0.009062471796465273 |
+--------------+-----------------------+----------------------+

In [120]:
#PART TWO: Cross Validation


CVdt = DecisionTreeClassifier()

cv_scores_train = cross_val_score(CVdt, X_train, y_train, cv=10)
cv_scores_test = cross_val_score(CVdt, X_test, y_test, cv=10)

Random_State = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

x1 = PrettyTable()
x1.add_column("Random State", Random_State)
x1.add_column("In-Sample", cv_scores_train)
x1.add_column("Out-of-Sample", cv_scores_test)
print(x1)
print()
print("The average mean of in-sample is " + str(statistics.mean(cv_scores_train)))
print("The average standard deviation of in-sample is " + str(statistics.stdev(cv_scores_train)))
print()
print("The average mean of out-of-sample is " + str(statistics.mean(cv_scores_test)))
print("The average standard deviation of out-of-sample is " + str(statistics.stdev(cv_scores_test)))

+--------------+--------------------+--------------------+
| Random State |     In-Sample      |   Out-of-Sample    |
+--------------+--------------------+--------------------+
|      1       | 0.7196296296296296 | 0.7109634551495017 |
|      2       | 0.7322222222222222 | 0.7209302325581395 |
|      3       | 0.7303703703703703 | 0.7142857142857143 |
|      4       | 0.7196296296296296 | 0.6877076411960132 |
|      5       | 0.7237037037037037 |        0.72        |
|      6       | 0.7196296296296296 | 0.7366666666666667 |
|      7       | 0.7288888888888889 | 0.7558528428093646 |
|      8       | 0.727037037037037  | 0.6956521739130435 |
|      9       | 0.7192592592592593 | 0.6588628762541806 |
|      10      | 0.7274074074074074 | 0.7324414715719063 |
+--------------+--------------------+--------------------+

The average mean of in-sample is 0.7247777777777777
The average standard deviation of in-sample is 0.0050192435659867085

The average mean of out-of-sample is 0.7133363074404531
The average standard deviation of out-of-sample is 0.02741144297501651

In [121]:
print("My name is Jonathan Zoia")
print("My NetID is: jzoia2")
print("I hereby certify that I have read the University policy on Academic Integrity and that I am not in violation.")

My name is Jonathan Zoia
My NetID is: jzoia2
I hereby certify that I have read the University policy on Academic Integrity and that I am not in violation.